* {
	margin:0px;
	padding:0px;
	background-color:lightgray;
}
.conteinerPrincipal {
	min-height:600px;
	border:1px solid black;
	background-color:white;
}
.comteinerSecundario {
	min-height:400px;
	background-color:snow;
}
.titulos {
	font-size:18px;
	color:black;
	text-transform:uppercase;

}
.textos {
	font-size:14px;
	color:black;

}

.header {
	background-color:lightgray;

}
.footer{
	font-size:12px;
	margin-top:auto;
	margin-bottom:0px;
	background-color:lightgray;

}
.botoes {
	background-color:black;
	color:white;
	border:gray;
	border-radius:10px;
	flex:1;
}
