* {
	margin:0px;
	padding:0px;
	
}
.conteinerPrincipal {
	min-height:735px;
	border:1px solid black;
	background-color:white;
}
.conteinerBarraMenus {
	display:flex;
	flex-direction:inline;
	justify-content:space-between;
}
.conteinerBody {
	min-height:605px;
	padding:5px;
	border:1px solid green;
	background-color:lightgreen;
}
.conteinerHeader {
	min-height:100px;
	background-color:lightgrey;
}
.titulos {
	font-size:18px;
	color:black;
	text-transform:uppercase;

}
.textos {
	font-size:14px;
	color:black;

}

.header {
	background-color:lightgray;

}
.conteinerFooter {
	font-size:14px;
	margin-top:auto;
	margin-bottom:0px;
	text-align:center;
	align-items:center;
	justify-content:space-between;
	width:100%;
	height:30px;
	background-color:lightgray;

}
.button {
	background-color:black;
	color:white;
	border:gray;
	margin:3px;
	padding:5px;
	border-radius:5px;
	flex:1;
}
